<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Florida Futurists | Startup </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>

   <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class = "headeralert">
  <p>Contact Us Now - Email Us: <a href="mailto:info@floridafuturists.com">info@floridafuturists.com </a>| Phone: (614) 733-9674    </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="https://floridafuturists.com/index.html"> Florida Futurists</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
<!--1 Menu Item-->
              <li><a class="nav-link scrollto active" href="https://floridafuturists.com/views/coming.html"> News </a></li>
<!--2 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/about.html"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                <li><a href="https://floridafuturists.com/views/about.html"> About Us </a></li>
                <li><a href="https://floridafuturists.com/views/about.html"> Become A Futurists </a></li>
              </ul>
<!--3 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/Business.html"><span>Business Directory</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li class="dropdown"><a href="https://floridafuturists.com/views/dir_region.html"><span>Explore Directory By Region</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                    <li><a href="https://floridafuturists.com/views/dir_region.html#nwfl">Northwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#ncfl">North Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#nefl">Northeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#cwfl">Centralwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#cfl">Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#cefl">Centraleast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#swfl">Southwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#sefl">Southeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#flkeys">Florida Keys</a></li>
                      </ul>
                    </li>          
                  </ul>
                </li>
<!--4 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/partners.html"><span> Our Partners</span> </a>
                </li>
<!--5 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/saturn.html"><span>Project Saturn</span> </a>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
<!-- .navbar -->
  <button type="button" class="hbutton" data-toggle="modal" data-target="#myModal">Join Now</button>

        </div>
      </div>

    </div>
    



  </header><!-- End Header -->
 
  <!-- Hero 2-->
  <section id="about" class="d-flex flex-column justify-content-center">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../img/logo.png" alt="" width="200" height="200">
   <a id="mission"> <h1 class="display-5 fw-bold text-body-emphasis">Our Mission</h1></a>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> At Florida Futurists, our vision is to be a driving force in shaping a dynamic and prosperous future for the Sunshine State. We envision a Florida that thrives on innovation, embraces sustainable practices, and leverages cutting-edge technologies to propel economic growth, social progress, and environmental stewardship.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Join Now</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contact</button>
      </div>
    </div>
    </section>
<!--Pricing Section-->
    <section id="pricing">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <a id="pricing"><h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1></a>
        <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
      </div>
  <div class="row row-cols-1 row-cols-md-6 mb-6 text-center">
    <div class="col">
        </div>
       
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Galactic</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$849.99<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><b>Everything in Atomic Included</b></li> <br>
                  <li>10% Percent of Membership Contributes to Saturn Project</li>
                  <br>
                  <li>10% Percent of Membership Contributes to Monthly Not-For-Profit</li> <br>
                  <li>10% Percent of Membership Contributes to Veteran Sponsored Projects/Initiatives</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get Started</button>
              </div>
            </div>
          </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><b>Star</b>ter</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$49.99<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Business and Directory Listing</b></li> <br>
            <li>Welcome to the Future Certificate</li> <br>
            <li>Digital Business/Product Review - Google, Yelp, Other</li> <br>
            <li>Access to Board Meetings</li> <br> <br> <br> <br>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get Started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Solar</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$249.99<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Everything in Star Included</b></li> <br>
            <li>1 Social Media Post and Share Per Month</li> <br>
            <li>1 Written Article, Blog Post, or Review </li> <br>
            <li>Invitation as a Board Member  </li> <br> <br> <br>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get Started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Atomic</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$449.99<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Everything in Solar Included</b></li> <br>
            <li>1x 1-Hour Consulting, Coaching, or Training Per Month</li> <br>
            <li>1/4' Inch Digital Ad Space for Quarterly Flyer</li> <br>
            <li>Membership counts towards Deductable for a Permanent Partnership </li> <br>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get Started</button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">Compare plans</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 2%;"></th>
          <th style="width: 18%;">Basic: Free to <br>Not-For-Profits/Startups/Veteran Owned</th>
          <th style="width: 18%;">Galactic</th>
          <th style="width: 18%;"><b>Star</b>ter</th>
          <th style="width: 18%;">Solar</th>
          <th style="width: 18%;">Atomic</th>
          <th style="width: 2%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">Business Listing </th>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>

        </tr>
        <tr>
          <th scope="row" class="text-start">Welcome Certificate</th>
        
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>
        

        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">Digital Business/Product Review - Google, Yelp, Other</th>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
         <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
    </svg>
    </td>

        </tr>
        <tr>
          <th scope="row" class="text-start">Access to Board Meetings
          </th>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
           <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
    </svg>
    </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">1 Social Media Post and Share Per Month</th>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
         <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
    </svg>
    </td>

        </tr>
        <tr>
          <th scope="row" class="text-start">Invitation as a Board Member </th>
          <td></td>
         <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
          <td></td>
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> 
        </td>


        </tr>
        <tr>
          <th scope="row" class="text-start">1x 1-Hour Consulting, Coaching, or Training Per Month</th>
           <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
         <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>                   <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>

                    <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
 <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
    </svg>
          </td>

        </tr>

        </tr>
          <th scope="row" class="text-start">1/4' Inch Digital Ad Space for Quarterly Flyer</th>
          <td></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> 
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>

          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> 

        </tr>   <tr>
          <th scope="row" class="text-start">Membership counts towards Deductable for a Permanent Partnership </th>
          <td></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> 
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>

          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td> 

        </tr>   <tr>
          <th scope="row" class="text-start">10% Percent of Membership Contributes to Saturn Project </th>
          <td></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>

        </tr>   <tr>
          <th scope="row" class="text-start">10% Percent of Membership Contributes to Monthly Not-For-Profit </th>
          <td></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>

        </tr>   <tr>
          <th scope="row" class="text-start">10% Percent of Membership Contributes to Veteran Sponsored Projects/Initiatives</th>
          <td></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></td>          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="18" height="18"><use xlink:href="#check"/></svg></td>

        </tr>  
      </tbody>
    </table>
  </div>
</section>

 
  <!-- ======= Footer ======= -->
  <div class = "headeralert">
    <p><a href="https://floridafuturists.us21.list-manage.com/subscribe/post?u=1efb156f7baa9586d1f4ed103&amp;id=44148de2d9&amp;f_id=00a9d5e6f0"> Sign Up For Our Newsletter By Clicking Here.   </a></a></p>
    
  </div>
  <footer id="footer">
   
    <div class="container">
      <h3>Florida Futurists</h3>
      <p> </p>
      <div class="social-links">
        <a href="https://twitter.com/FLFuturists" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="facebook.com/FloridaFuturists" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.youtube.com/@FLFuturists" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.youtube.com/@FLFuturists" class="google-plus"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.linkedin.com/company/florida-futurists/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; <a href="https://floridafuturists.com/views/copyright.html">Copyright </a><strong><span>Florida Futurists Corp.</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        <a href="https://floridafuturists.com/views/policy.html">Privacy Policy</a>. <a href="https://floridafuturists.com/views/terms.html">Terms of Service</a>. Site Map. 

        <a href="https://floridafuturists.com/views/capolicy.html">CA Terms</a>. <a href="https://floridafuturists.com/views/eupolicy.html">EU Policy  </a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://floridafuturists.com/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="https://floridafuturists.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://floridafuturists.com/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://floridafuturists.com/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>


</html>
