<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Florida Futurists | Startup </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>
<body>

 
    </div>
 <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class = "headeralert">
            <p>Contact Us Now - Email Us: <a href="mailto:info@floridafuturists.com">info@floridafuturists.com </a>| Phone: (614) 733-9674    </p>      </div>
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="https://floridafuturists.com/index.html"> Florida Futurists</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
<!--1 Menu Item-->
              <li><a class="nav-link scrollto active" href="https://floridasfuturists.blogspot.com"> News </a></li>
<!--2 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/about.html"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                <li><a href="https://floridafuturists.com/views/about.html#mission"> About Us </a></li>
                <li><a href="https://floridafuturists.com/views/about.html#pricing"> Become A Futurists </a></li>
              </ul>
<!--3 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/Business.html"><span>Business Directory</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li class="dropdown"><a href="https://floridafuturists.com/views/dir_region.html"><span>Explore Directory By Region</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                    <li><a href="https://floridafuturists.com/views/dir_region.html#nwfl">Northwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#ncfl">North Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#nefl">Northeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#cwfl">Centralwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#cfl">Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#cefl">Centraleast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#swfl">Southwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#sefl">Southeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/dir_region.html#flkeys">Florida Keys</a></li>
                      </ul>
                    </li>          
                  </ul>
                </li>
<!--4 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/partners.html"><span> Our Partners</span> </a>
                </li>
<!--5 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/saturn.html"><span>Project Saturn</span> </a>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
<!-- .navbar -->
  <a href="https://docs.google.com/forms/d/1rrcWA1TQ3RByQhC1wAcuEzkGsGdW4a7m1G7U0gV68B4/prefill"><button type="button" class="hbutton" data-toggle="modal" data-target="#myModal">Join Now</button></a>

        </div>
      </div>

    </div>
    



  </header><!-- End Header -->
 
  <!-- Hero 2-->
  <section id="container" class="d-flex flex-column justify-content-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">California Privacy Policy</h1>
    <div class="col-lg-6 mx-auto">
      <p>
        This policy was last modified on June 29th, 2023 By David Piro .
        </p>
        <p>This California Privacy Policy (this “California Privacy Policy”) supplements the information contained in the [Privacy Policy] of VaynerX with additional disclosures required by the California Consumer Privacy Act (“CCPA”) and other California privacy laws that apply only to residents of California. Any terms defined in the Privacy Policy or in the CCPA have the same meaning when used in this California Privacy Policy.</p>
        <p>By using the Site, you agree to the practices described in this California Privacy Policy and any updates posted here from time to time. To make sure you stay informed of all changes, you should check this California Privacy Policy periodically. Updates will be referenced by the “Last Modified” date shown above.</p>
        <p>Table of Contents</p>
        <ul>
        <li aria-level="1">Definition of Personal Information</li>
        </ul>
        <p>As defined in the CCPA, “Personal Information” means information that identifies, relates to, describes, is reasonably capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or household.</p>
        <ul>
        <li aria-level="1">Notice of Collection of Personal Information</li>
        </ul>
        <p>We may collect and may have collected in the last 12 months the following categories of Personal Information:</p>
        <table>
        <tbody>
        <tr>
        <td><span style="color: #000000;">Category</span></td>
        <td><span style="color: #000000;">Examples</span></td>
        </tr>
        <tr>
        <td><span style="color: #000000;">Identifiers.</span></td>
        <td><span style="color: #000000;">A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, Social Security number, driver’s license number, passport number, or other similar identifiers.</span></td>
        </tr>
        <tr>
        <td><span style="color: #000000;">Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)).</span></td>
        <td><span style="color: #000000;">A name, signature, Social Security number, physical characteristics or description, address, telephone number, passport number, driver’s license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information. Some Personal Information included in this category may overlap with other categories.</span></td>
        </tr>
        <tr>
        <td><span style="color: #000000;">Protected classification characteristics under California or federal law.</span></td>
        <td><span style="color: #000000;">Age (40 years or older), race, color, ancestry, national origin, citizenship,  religion or creed, marital status, medical condition, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information).</span></td>
        </tr>
        <tr>
        <td><span style="color: #000000;">Commercial information.</span></td>
        <td><span style="color: #000000;">Records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.</span></td>
        </tr>
        <tr>
        <td><span style="color: #000000;">Online activity; Internet or other electronic network activity information.</span></td>
        <td><span style="color: #000000;">Browsing history, search history, and information regarding a consumer’s interaction with a website, application, or advertisement.</span></td>
        </tr>
        <tr>
        <td><span style="color: #000000;">Professional or employment-related information.</span></td>
        <td><span style="color: #000000;">Current or past job history or performance evaluations.</span></td>
        </tr>
        <tr>
        <td><span style="color: #000000;">Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99)).</span></td>
        <td><span style="color: #000000;">Education records directly related to a student maintained by an educational institution or party acting on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records.</span></td>
        </tr>
        <tr>
        <td><span style="color: #000000;">Inferences drawn from any of the information. </span></td>
        <td><span style="color: #000000;">Profile reflecting a consumer’s preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.</span></td>
        </tr>
        </tbody>
        </table>
        <p>&nbsp;</p>
        <p>Please note that the categories and examples listed above are those defined in the CCPA. This does not mean that all examples of that category of Personal Information were in fact collected about every Site visitor, but reflects our good faith belief to the best of our knowledge that some of that information from the applicable category may be and may have been collected. For example, certain categories of Personal Information would only be collected if you provided such Personal Information when applying for a job via the Site, but not if you submitted a general inquiry or just visited the Site.</p>
        <p>We collect the categories of Personal Information listed above from the following categories of sources:</p>
        <ul>
        <li aria-level="1">Directly from you when you provide it to us.</li>
        <li aria-level="1">Indirectly and automatically from your devices. For example, when you visit or interact with the Site.</li>
        <li aria-level="1">Directly from our parents, affiliates, subsidiaries, and other companies under common control and ownership.</li>
        <li aria-level="1">Directly from our clients or their agents. For example, from documents that our clients provide to us related to the services for which they engage us.</li>
        <li aria-level="1">From vendors who provide services to us.</li>
        <li aria-level="1">From other third parties.  For example, sponsors or event partners in connection with certain ticketed events, social networking providers, and advertising companies. If you do not want us to collect information from social networks, you should review and adjust your privacy settings on those networks as desired before linking or connecting them to the Site.</li>
        <li aria-level="1">Use and Disclosure of Personal Information</li>
        </ul>
        <p>We may use and disclose the Personal Information as described in our [Privacy Policy], in Sections 2 and 4, respectively, for business and commercial purposes.</p>
        <ul>
        <li aria-level="1">Sale of Personal Information</li>
        </ul>
        <p>We do not and will not sell your Personal Information.</p>
        <ul>
        <li aria-level="1">Your California Consumer Privacy Rights</li>
        </ul>
        <p>The CCPA provides residents of California with the following rights regarding their Personal Information:</p>
        <p>Right to Know About Personal Information Collected or Disclosed</p>
        <p>You have the right to request, twice in a 12-month period, that we disclose certain information to you about our collection, use, and disclosure of your Personal Information over the last 12 months. Once we receive and confirm a verifiable consumer request from you, we will disclose to you within the time required by the CCPA, the relevant information.</p>
        <p>Right to Request Deletion of Personal Information</p>
        <p>You have the right to request that we delete any of your Personal Information that we collected from you and retain, subject to certain exceptions. Once we receive and confirm a verifiable consumer request from you, we will delete (and direct our service providers to delete) your Personal Information from our records within the time required by the CCPA, unless an exception applies.</p>
        <p>Right to Opt-Out of the Sale of Personal Information</p>
        <p>You have the right to opt-out of the sale of your Personal Information. We do not and will not sell your Personal Information.</p>
        <p>Right to Non-Discrimination for the Exercise of a Consumer’s Privacy Rights</p>
        <p>You have the right not to receive discriminatory treatment by us for the exercise of any your CCPA rights. We will not discriminate against you for exercising any of your CCPA rights.</p>
        <ul>
        <li aria-level="1">Exercising Your California Privacy Rights</li>
        </ul>
        <p>To exercise any of the rights described above, please submit a request by completing this [form].</p>
        <p>Verification of Requests</p>
        <p>When you submit your request, we will reasonably verify your identity prior to processing your request to access or delete any Personal Information we may hold about you.  You must provide sufficient information that allows us to reasonably verify you are the person about whom we collected Personal Information or an authorized representative of that person.</p>
        <p>We cannot respond to your request or provide you with Personal Information if we cannot verify your identity or authority to make the request and confirm the Personal Information relates to you.</p>
        <p>Making a request does not require you to create an account with us. We will only use Personal Information provided in a request to verify the requestor’s identity or authority to make the request.</p>
        <p>Making a Request through an Authorized Agent</p>
        <p>You may submit a request through an authorized agent. The agent will need to state that they are acting on your behalf when making the request, have proof of the authority to act on your behalf, and be prepared to provide sufficient Personal Information to enable us to identify you in our records.</p>
        <ul>
        <li aria-level="1">Contact Us</li>
        </ul>
        <p>To submit a request relating to our California Privacy Rights, please email us or mail at the address listed below. Please note that requests submitted through the form are processed more quickly than requests submitted by email or mail.</p>
        <p>If you have any questions about this California Privacy Policy, please email us at dpiro@floridafuturists.com or write to us at:</p>

        <br>
        <p>
        
          18812 Matanzas Road <br>
          Fort Myers, Florida  <br>
          33967  
        

        </p>
  

    </section>

  <footer id="footer">
   
    <div class="container">
      <h3>Florida Futurists</h3>
      <p> </p>
      <div class="social-links">
        <a href="https://twitter.com/FLFuturists" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="facebook.com/FloridaFuturists" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.youtube.com/@FLFuturists" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.youtube.com/@FLFuturists" class="google-plus"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.linkedin.com/company/florida-futurists/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; <a href="https://floridafuturists.com/views/copyright.html">Copyright </a><strong><span>Florida Futurists Corp.</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        <a href="https://floridafuturists.com/views/policy.html">Privacy Policy</a>. <a href="https://floridafuturists.com/views/terms.html">Terms of Service</a>. Site Map. 

        <a href="https://floridafuturists.com/views/capolicy.html">CA Terms</a>. <a href="https://floridafuturists.com/views/eupolicy.html">EU Policy  </a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://floridafuturists.com/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="https://floridafuturists.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://floridafuturists.com/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://floridafuturists.com/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>
</html>
