<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2314547164191156"
     crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Florida Futurists | Directory </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9DVPX56CJF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9DVPX56CJF');
</script>
<body>

 <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class = "headeralert">
        <p>Contact Us Now - Email Us: <a href="https://docs.google.com/forms/d/1a5N9LbONKuZHWBn3iNHFbwIN47Bpmq4apfpYwsdUlg4/prefill">dpiro@floridafuturists.com </a>| Phone: (614) 733-9674    </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="https://floridafuturists.com/index.html"> Florida Futurists</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
<!--1 Menu Item-->
              <li><a class="nav-link scrollto active" href="https://floridasfuturists.blogspot.com"> News </a></li>
<!--2 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/about.html"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                              <li><a href="https://floridafuturists.com/views/about.html#mission"> About Us </a></li>
                <li><a href="https://floridafuturists.com/views/about.html#pricing"> Become A Futurists </a></li>
              </ul>
<!--3 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/Business.html"><span>Business Directory</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li class="dropdown"><a href="https://floridafuturists.com/views/dir_region.html"><span>Explore Directory By Region</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="https://floridafuturists.com/views/nwfl.html">Northwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/ncfl.html">North Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/nefl.html">Northeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cwfl.html">Centralwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cfl.html">Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cefl.html">Centraleast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/sfl.html">South Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/swfl">Southwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/sefl.html">Southeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/flkeys.html">Florida Keys</a></li>
                      </ul>
                    </li>          
                  </ul>
                </li>
<!--4 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/partners.html"><span> Our Partners</span> </a>
                </li>
<!--5 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/saturn.html"><span>Project Saturn</span> </a>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
<!-- .navbar -->
  <a href="https://docs.google.com/forms/d/1rrcWA1TQ3RByQhC1wAcuEzkGsGdW4a7m1G7U0gV68B4/prefill"><button type="button" class="hbutton" data-toggle="modal" data-target="#myModal">Join Now</button></a>

        </div>
      </div>

    </div>
    



  </header><!-- End Header -->

 
  <!-- Hero 2-->
  <section id="region" class="d-flex flex-column justify-content-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Florida Futurists Directory <br> By Region</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Pick The Region For You And We'll Let Scotty Beam You To The Right Region. <br>Not a Reference For Copyright.</p>
    </div>
    </div>
    </section>


    <!-- Directory Section, Lends from Pricing #CSS from About HTML Page-->
    <section id="pricing">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                        <li><a href="https://floridafuturists.com/views/nwfl">Northwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/ncfl">North Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/nefl">Northeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cwfl">Centralwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cfl">Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cefl">Centraleast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/swfl">Southwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/sefl">Southeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/flkeys">Florida Keys</a></li>
        </div>
  
      </section>
  <!-- ======= Footer ======= -->
   <div class = "headeralert">
      <p><a href="https://docs.google.com/forms/d/1dlbza9xcMct8ZY_4J3fxMJhihOaRXyZFqTw5Y_R9sPk/prefill"> Sign Up For Our Newsletter By Clicking Here.   </a></a></p>
      
    </div>
  <footer id="footer">
   
    <div class="container">
      <h3>Florida Futurists</h3>
      <p> </p>
      <div class="social-links">
        <a href="https://twitter.com/FLFuturists/" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="facebook.com/FloridaFuturists/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.youtube.com/@FLFuturists/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.youtube.com/@FLFuturists/" class="google-plus"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.linkedin.com/company/florida-futurists/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; <a href="https://floridafuturists.com/views/copyright.html">Copyright </a><strong><span>Florida Futurists Corp.</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        <a href="https://floridafuturists.com/views/policy.html">Privacy Policy</a>. <a href="https://floridafuturists.com/views/terms.html">Terms of Service</a>. Site Map. 

        <a href="https://floridafuturists.com/views/capolicy.html">CA Terms</a>. <a href="https://floridafuturists.com/views/eupolicy.html">EU Policy  </a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://floridafuturists.com/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="https://floridafuturists.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://floridafuturists.com/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://floridafuturists.com/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>
</html>
