<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Florida Futurists | Startup </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>

   <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class = "headeralert">
          <p>Contact Us Now - Email Us: <a href="mailto:info@floridafuturists.com">info@floridafuturists.com </a>| Phone: (614) 733-9674    </p>      </div>
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="https://floridafuturists.com/index.html"> Florida Futurists</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
<!--1 Menu Item-->
              <li><a class="nav-link scrollto active" href="https://floridasfuturists.blogspot.com"> News </a></li>
<!--2 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/about.html"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                     <li><a href="https://floridafuturists.com/views/about.html#mission"> About Us </a></li>
                <li><a href="https://floridafuturists.com/views/about.html#pricing"> Become A Futurists </a></li>
              </ul>
<!--3 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/Business.html"><span>Business Directory</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li class="dropdown"><a href="https://floridafuturists.com/views/dir_region.html"><span>Explore Directory By Region</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="https://floridafuturists.com/views/nwfl.html">Northwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/ncfl.html">North Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/nefl.html">Northeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cwfl.html">Centralwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cfl.html">Central Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/cefl.html">Centraleast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/swfl">Southwest Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/sefl.html">Southeast Florida</a></li>
                        <li><a href="https://floridafuturists.com/views/flkeys.html">Florida Keys</a></li>
                      </ul>
                    </li>          
                  </ul>
                </li>
<!--4 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/partners.html"><span> Our Partners</span> </a>
                </li>
<!--5 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/saturn.html"><span>Project Saturn</span> </a>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
<!-- .navbar -->
  <a href="https://docs.google.com/forms/d/1rrcWA1TQ3RByQhC1wAcuEzkGsGdW4a7m1G7U0gV68B4/prefill"><button type="button" class="hbutton" data-toggle="modal" data-target="#myModal">Join Now</button></a>

        </div>
      </div>

    </div>
    


  </header><!-- End Header -->
  
  <!-- Hero 2-->
  <section id="container" class="d-flex flex-column justify-content-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">EU Privacy Policy</h1>
    <div class="col-lg-6 mx-auto">
      <p>
        This policy was last modified on June 29th, 2023 By David Piro .
        </p>
      
        <p><span style="font-weight: 400;">This EU Privacy Policy (this “</span><b>EU</b> <b>Privacy Policy</b><span style="font-weight: 400;">”) supplements the information contained in the [Privacy Policy]</span><span style="font-weight: 400;"> of Florida Futurists with additional information relating to your rights under the General Data Protection Regulation (“</span><b>GDPR</b><span style="font-weight: 400;">”) that apply only to residents of the European Union. Any terms defined in the Privacy Policy or in the GDPR have the same meaning when used in this EU Privacy Policy.</span></p>
        <p><span style="font-weight: 400;">By using the Site, you agree to the practices described in this EU Privacy Policy and any updates posted
           here from time to time. To make sure you stay informed of all changes, you should check this EU Privacy Policy periodically. Updates will be
            referenced by the “Last Modified” date shown above.</span></p>
        <p><span style="font-weight: 400;">We will only collect and process your personal data in accordance with applicable data protection and privacy laws
          . If you live in the United States, the data controller for the personal data that you provide or that is collected by Florida Futurists or its affiliates is
           Florida Futurists, LLC, Fort Myers, Florida, 33967. 
           If you live outside of the United States, the data controller for the personal data that you provide or that is collected by Florida Futurists or its
            affiliates is Florida Futurists, or it's affiliates.</span></p>
        <p><b>Table of Contents</b></p>
        <ul>
        <li aria-level="1"><b>Your GDPR Rights</b></li>
        </ul>
        <p><span style="font-weight: 400;">The GDPR provides residents of the EU with the following rights regarding their personal data:</span></p>
        <ul>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to be informed about the collection and use of your personal data</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to access your personal data</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to have any inaccurate personal data corrected</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to have your personal data erased</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to restrict use of your personal data</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to personal data portability</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to object to the processing of your personal data</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Right to object to automated decision making </span></li>
        </ul>
        <p><span style="font-weight: 400;">To exercise any of these rights, please submit a request by completing this [form].</span> <span style="font-weight: 400;">We will respond to any requests within the time required by the GDPR.  After you submit your request, you will be sent a confirmation email and need to click on the link provided to confirm your request. Please note that we may need additional information from you to verify your identity before we process your request.</span></p>
        <ul>
        <li aria-level="1"><b>Legal Basis for Processing Personal Data</b></li>
        </ul>
        <p><span style="font-weight: 400;">To the extent you provide us with personal data, we are processing your personal data under one of the following lawful bases:</span></p>
        <ul>
        <li style="font-weight: 400;" aria-level="1"><b>Consent.</b><span style="font-weight: 400;"> By opting-in, you consent to permit us to process your personal data for the purposes set forth in our </span><span style="font-weight: 400;">[Privacy Policy]</span><span style="font-weight: 400;">.</span></li>
        <li style="font-weight: 400;" aria-level="1"><b>Compliance with Legal Obligations.</b><span style="font-weight: 400;"> We may process your personal data in order to comply with certain of our legal obligations.</span></li>
        </ul>
        <ul>
        <li aria-level="1"><b> </b><b>Cookies, Pixel Tags, and Other Similar Tracking Technologies</b></li>
        </ul>
        <p><span style="font-weight: 400;">To the extent required by applicable law, we will obtain your consent before collecting data using </span><span style="font-weight: 400;">cookies, pixel tags, and other similar tracking technologies on the Site. If you have accepted our use of cookies, pixel tags, and other tracking technologies, we will collect your data in accordance with our [Privacy Policy]</span><span style="font-weight: 400;"> based on your affirmative informed consent, which you may withdraw through the methods provided herein. If you have not accepted, then we only collect your personal data based on our legitimate interests. To view additional information about behavioral advertising and manage your preferences, you can do so by visiting 
        </span><span style="color: #dedede;"><a style="color: #000;" href="http://www.youronlinechoices.eu/"><span style="font-weight: 400;">Your Online Choices</span></a></span><span style="font-weight: 400;">.</span></p>
        <ul>
        <li aria-level="1"><b>Contact Us:</b></li>
        </ul>
        <br>
        <p>
        
          18812 Matanzas Road <br>
          Fort Myers, Florida  <br>
          33967  
        

        </p>
  

    </section>

     <footer id="footer">
   
    <div class="container">
      <h3>Florida Futurists</h3>
      <p> </p>
      <div class="social-links">
         <a href="https://twitter.com/FLFuturists/" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="facebook.com/FloridaFuturists/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.youtube.com/@FLFuturists/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.youtube.com/@FLFuturists/" class="google-plus"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.linkedin.com/company/florida-futurists/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; <a href="https://floridafuturists.com/views/copyright.html">Copyright </a><strong><span>Florida Futurists Corp.</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        <a href="https://floridafuturists.com/views/policy.html">Privacy Policy</a>. <a href="https://floridafuturists.com/views/terms.html">Terms of Service</a>. Site Map. 

        <a href="https://floridafuturists.com/views/capolicy.html">CA Terms</a>. <a href="https://floridafuturists.com/views/eupolicy.html">EU Policy  </a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://floridafuturists.com/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="https://floridafuturists.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://floridafuturists.com/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://floridafuturists.com/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>
</html>
