<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Florida Futurists | Startup </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>

 <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class = "headeralert">
        <p>Contact Us Now - Email Us: <a href="https://docs.google.com/forms/d/1a5N9LbONKuZHWBn3iNHFbwIN47Bpmq4apfpYwsdUlg4/prefill">dpiro@floridafuturists.com </a>| Phone: (614) 733-9674    </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="https://floridafuturists.com/index.html"> Florida Futurists</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
<!--1 Menu Item-->
              <li><a class="nav-link scrollto active" href="https://floridafuturists.com/views/coming.html"> News </a></li>
<!--2 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/about.html"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                <li><a href="https://floridafuturists.com/views/about.html"> About Us </a></li>
                <li><a href="https://floridafuturists.com/views/about.html"> Become A Futurists </a></li>
              </ul>
<!--3 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/Business.html"><span>Business Directory</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li class="dropdown"><a href="https://floridafuturists.com/views/dir_region.html"><span>Explore Directory By Region</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Northwest Florida</a></li>
                        <li><a href="#">North Central Florida</a></li>
                        <li><a href="#">Northeast Florida</a></li>
                        <li><a href="#">Centralwest Florida</a></li>
                        <li><a href="#">Central Florida</a></li>
                        <li><a href="#">Centraleast Florida</a></li>
                        <li><a href="#">Southwest Florida</a></li>
                        <li><a href="#">Southeast Florida</a></li>
                        <li><a href="#">Florida Keys</a></li>
                      </ul>
                    </li>          
                  </ul>
                </li>
<!--4 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/partners.html"><span> Our Partners</span> </a>
                </li>
<!--5 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/saturn.html"><span>Project Saturn</span> </a>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
<!-- .navbar -->
  <button type="button" class="hbutton" data-toggle="modal" data-target="#myModal">Join Now</button>

        </div>
      </div>

    </div>
    



  </header><!-- End Header -->

 
  <!-- Hero 2-->
  <section id="partners" class="d-flex flex-column justify-content-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Houstan, <br>Meet Our Partners That Help Us Lift-Off.</h1>
    <div class="col-lg-6 mx-auto">
      <p></p>
      <p class="lead mb-4"></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

    </div>

    </section>
    <div class="px-4 py-5 my-5 text-center">      <div class="col-lg-6 mx-auto">

      <h1>Mission:</h1>
      <p>

        At Florida Futurists, our vision is to be a driving force in shaping a dynamic and prosperous 
        future for the Sunshine State. We envision a Florida that thrives on innovation, embraces sustainable practices,
         and leverages cutting-edge technologies to propel economic growth, social progress, and environmental stewardship. 
         Through our forward-thinking approach, collaborative partnerships, and visionary mindset, we aspire to inspire and 
         lead Florida into a future where limitless possibilities abound, creating a better tomorrow for all its residents.

      </p>
      <br>
      <br>

      <h2>Vision:</h2>
      <p>

        The mission of Florida Futurists is to catalyze positive change and spearhead innovation in Florida's business, technology, and societal landscapes. We are dedicated to fostering a vibrant ecosystem that empowers individuals, businesses, and communities to embrace the opportunities and challenges of the future. Through our extensive network, thought leadership, and strategic initiatives, we strive to cultivate a culture of forward-looking visionaries, equipping them with the knowledge, tools, and resources needed to drive progress and shape a brighter future for Florida. Our mission is to bridge the gap between innovation and practical implementation, championing transformative ideas, fostering collaboration, and inspiring collective action to unlock the full potential of Florida's future.

      </p>
      <br>
      <h2>$20,000 - Becoming A Partner:</h2>
      <p>
        It's more than just a Membership, you become a Galactic Member and a part of the future. 
        If anything like the products in the Saturn Project, or if the company goes public, you recieve a stake in those items.

        More details to follow.
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <button type="button" class="btn btn-outline-warning btn-lg px-4">Become a Partner Now</button>
        </div>

      </p>
    </div>
    </div>

    </div>
    <div class="px-4 py-5 my-5 text-center">
      <h1>Our Charities Rotated Each Month</h1>
      <div class="col-lg-6 mx-auto">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>January</td>
          <td>St. Jude</td>
          <td><a href="https://www.stjude.org/">Website</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>February</td>
          <td>Pace Center for Girls </td>
          <td><a href="https://www.pacecenter.org/">Website</a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>March</td>
          <td>Cyber Ohana Project</td>
          <td><a href="https://cyberohanaproject.org/">Website</a></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>April</td>
          <td>Gulf Coast Humane Society</td>
          <td><a href="https://gulfcoasthumanesociety.org/">Website</a></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>May</td>
          <td>The Heights Foundations</td>
          <td><a href="https://heightsfoundation.org/">Website</a></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>June</td>
          <td>St. Vincent de Paul Society</td>
          <td><a href="https://sacredheartvp.org/st-vincent-de-paul-society">Website</a></td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>July</td>
          <td>Harry Chapin Food Bank of SouthWest Florida</td>
          <td><a href="https://harrychapinfoodbank.org/">Website</a></td>

        </tr>
        <tr>
          <th scope="row">8</th>
          <td>August</td>
          <td>Shy Wolf Sanctuary</td>
          <td><a href="https://shywolfsanctuary.org/">Website</a></td>

        </tr>
        <tr>
          <th scope="row">9</th>
          <td>September</td>
          <td>SWFL Coders </td>
          <td><a href="https://www.meetup.com/swfl-coders/">Website</a></td>

        </tr>
        <tr>
          <th scope="row">10</th>
          <td>October</td>
          <td>Charlotte County Genealogical Society Inc.</td>
          <td><a href="https://ccgsi.org/">Website</a></td>

        </tr>
        <tr>
          <th scope="row">11</th>
          <td>November</td>
          <td>Area Agency on Aging</td>
          <td><a href="https://aaaswfl.org/">Website</a></td>

        </tr>
        <tr>
          <th scope="row">12</th>
          <td>December</td>
          <td>Corkscrew Swamp Sanctuary</td>
          <td><a href="https://corkscrew.audubon.org/">Website</a></td>

        </tr>
      </tbody>
    </table>
    
  </div>
</div>

    <!-- Directory Section, Lends from Pricing #CSS from About HTML Page-->
    <section id="pricing">
          <!-- R-->

      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-bold text-body-emphasis">Galactic Members</h1>
        
        </div>
   

    <!-- Search By A-Z -->
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <button type="button" class="btn btn-outline-warning btn-lg px-4">ProtoAlchemy Labs LLC</button>
        </div>
      </section>







      <section id="pricing">
        <!-- R-->

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-6 fw-bold text-body-emphasis">As A Partner With Project Saturn </h1>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <button type="button" class="btn btn-outline-dark btn-lg px-4">Discover The Project Here</button>
        </div>
      </div>

    </section>

  <!-- ======= Footer ======= -->
  <div class = "headeralert">
    <p><a href="https://floridafuturists.us21.list-manage.com/subscribe/post?u=1efb156f7baa9586d1f4ed103&amp;id=44148de2d9&amp;f_id=00a9d5e6f0"> Sign Up For Our Newsletter By Clicking Here.   </a></a></p>
    
  </div>
<footer id="footer">
 
  <div class="container">
    <h3>Florida Futurists</h3>
    <p> </p>
    <div class="social-links">
      <a href="https://twitter.com/FLFuturists" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="facebook.com/FloridaFuturists" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.youtube.com/@FLFuturists" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.youtube.com/@FLFuturists" class="google-plus"><i class="bx bxl-youtube"></i></a>
      <a href="https://www.linkedin.com/company/florida-futurists/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; <a href="../static/views/copyright.html">Copyright </a><strong><span>Florida Futurists Corp.</span></strong> All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
      <a href="../static/views/policy.html">Privacy Policy</a>. <a href="../static/views/terms.html">Terms of Service</a>. Site Map. 

      <a href="../static/views/capolicy.html">CA Terms</a>. <a href="../static/views/eupolicy.html">EU Policy  </a>
    </div>
  </div>
</footer><!-- End Footer -->
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../vendor/glightbox/js/glightbox.min.js"></script>
<script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../vendor/swiper/swiper-bundle.min.js"></script>
<script src="../vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../js/main.js"></script>

</body>

</html>
