<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Florida Futurists | Startup </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class = "headeralert">
        <p>Contact Us Now - Email Us: <a href="https://docs.google.com/forms/d/1a5N9LbONKuZHWBn3iNHFbwIN47Bpmq4apfpYwsdUlg4/prefill">dpiro@floridafuturists.com </a>| Phone: (614) 733-9674    </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="https://floridafuturists.com/index.html"> Florida Futurists</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
<!--1 Menu Item-->
              <li><a class="nav-link scrollto active" href="https://floridafuturists.com/views/coming.html"> News </a></li>
<!--2 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/about.html"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                <li><a href="https://floridafuturists.com/views/about.html"> About Us </a></li>
                <li><a href="https://floridafuturists.com/views/about.html"> Become A Futurists </a></li>
              </ul>
<!--3 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/Business.html"><span>Business Directory</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li class="dropdown"><a href="https://floridafuturists.com/views/dir_region.html"><span>Explore Directory By Region</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Northwest Florida</a></li>
                        <li><a href="#">North Central Florida</a></li>
                        <li><a href="#">Northeast Florida</a></li>
                        <li><a href="#">Centralwest Florida</a></li>
                        <li><a href="#">Central Florida</a></li>
                        <li><a href="#">Centraleast Florida</a></li>
                        <li><a href="#">Southwest Florida</a></li>
                        <li><a href="#">Southeast Florida</a></li>
                        <li><a href="#">Florida Keys</a></li>
                      </ul>
                    </li>          
                  </ul>
                </li>
<!--4 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/partners.html"><span> Our Partners</span> </a>
                </li>
<!--5 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/saturn.html"><span>Project Saturn</span> </a>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
<!-- .navbar -->
  <button type="button" class="hbutton" data-toggle="modal" data-target="#myModal">Join Now</button>

        </div>
      </div>

    </div>
    



  </header><!-- End Header -->
  <!-- Hero 2-->
  <section id="container" class="d-flex flex-column justify-content-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Our Privacy Policy</h1>
    <div class="col-lg-6 mx-auto">
      <p>
        This policy was last modified on June 29th, 2023 By David Piro .
        </p>
        <p> This privacy policy (this “Privacy Policy“) describes how we collect, use, and share data that we obtain
           through your use of the Internet sites, applications, and online services (the “Site“) operated by,
            controlled by, or affiliated with Florida Futurists, LLC, and certain subsidiaries, affiliates, and entities that it controls, 
            including Piro Industries, LLC, Personalized Tech Services LLC, LLC, PersonalizedTechServicesLLC, LLC, PersonalizedTechnicalServices LLC, LLC, Personalized 
            Technical Services, LLC, and Pirho Laps, LLC (collectively, PiroIndustries,” “we,” “us,” or “our“). If you are a resident of California, 
            please review our California Privacy Policy for additional disclosures required by California law. 
            If you are a resident of the European Union, please review our EU Privacy Policy for additional information relating to your rights.
      </p>
      <p>  By using the Site, you agree to the practices described in this Privacy Policy and any updates posted here from time to time. 
        To make sure you stay informed of all changes, you should check this Privacy Policy periodically. Updates will be referenced by 
        the “Last Modified” date shown above.
      </p>
      <p>  Table of Contents
      </p>
        <h1>Collection of Data</h1>
        <ol>
        <li>Use of Collected Data</li>
          <li>Third-Party Websites</li>
            <li>Sharing of Collected Data</li>
              <li>Transfer of Collected Data</li>
                <li>Data Security</li>
                  <li>Data Retention</li>
                    <li>Children and Parents</li>
                      <li>Our “Do Not Track” (DNT) Policy</li>
                        <li>Your Data Preferences</li>
                          <li>California Privacy Policy</li>
                            <li>EU Privacy Policy</li>
                              <li>Contact Us</li>
      </ol>
        <h1>1. Collection of Data</h1>
        We collect data from you in several different ways on the Site, including personal data and data about your use of the Site which does not identify you personally.
         Personal data means information, or combination of information, that can reasonably be used to identify you personally (such as your name,
          phone number, address,
          and email address).
        
        We collect personal data that you voluntarily provide to us.
        
        We collect personal data that you voluntarily provide to us (such as when you submit an inquiry), including name, email address, 
        and any other data you choose to provide.
        
        We automatically collect data about your use of the Site.
        
        When you access and use the Site, our technology and tools may automatically collect and record certain data about your use of and interaction with the Site 
        that does not identify you personally (such as your IP address, browser type, the make and model of device used to view the Site, unique device identifiers, 
        the referring webpage, pages visited, and search terms).
        
        We also use various tracking technologies (such as cookies and pixel tags) to collect data about your use of and access to the Site.
         Cookies are small data files stored on your hard drive or in device memory by websites you visit, applications you use, or advertisements you 
         view and help us improve the Site and your experience on the Site. Pixel tags are electronic images that generate a generic notice of a visit to 
         the Site and are used in conjunction with cookies to anonymously track activity on the Site by a particular browser.
        
        Third parties may also automatically collect data about you.
        
        Some content on the Site may be served by third-party content providers and may also use cookies, pixels tags, or other similar tracking technologies
         to automatically collect data about you, both on the Site and throughout the Internet. We do not control the technologies of those third parties. 
         Data collection and use by those third parties is subject to the privacy policies of those third parties. It is up to you to review the terms of use
          and privacy policies of those third parties.
        
        <h2>2. Use of Collected Data</h2>
        We use the data we collect to assist in the administration and operation of the Site and to provide you an efficient, meaningful, and customized experience.
        
        We may use data to:
        
        Fulfill our obligations with respect to the reason you voluntarily provided the data (such as responding to an inquiry);
        Allow you to participate in certain features of the Site;
        Improve the Site or our products, events, and services and for other business or commercial purposes;
        Optimize your experience on the Site (such as troubleshooting technical programs or storing your preferences);
        Notify you about changes to the Site (including this Privacy Policy);
        Carry out any other purpose described to you at the time the data was collected; and
        Carry out any other purpose with your consent or as permitted by law.
        Additionally, we may use data for marketing purposes to:
        
        Provide you with additional information regarding products, events, and services from VaynerX via email or through advertising on various social media platforms or websites (both desktop and mobile) that you may visit; and
        Develop, improve, and target our promotional messaging to you and others via retargeting, online behavioral advertising, and use of social media platform tools for advertising (such as creation of Facebook Lookalike Audiences).
        You can learn more about Facebook ads <a href="https://www.facebook.com/ads/about/?entry_product=ad_preferences">HERE </a> and other types of online advertising <a href="https://youradchoices.com/control">HERE </a>.
        
        <h2>3. Third-Party Websites</h2>
        Through your use of the Site, you may access, directly or indirectly, other websites or services, including from our service providers, business partners, and other third parties, in each case, that are not owned or controlled by us. Data collection and use by those third parties is subject to the privacy policies of those third parties. It is up to you to review the terms of use and privacy policies of those third parties.
        
        Please note that when you apply for a job with us through our job application portal, the privacy policy of our job applicant processing partner may also apply to the submission of your application information.
        
        <h2>4. Sharing of Collected Data</h2>
        We may share the data we collect as follows:
        
        With our current and future parents, affiliates, subsidiaries, and other companies under common control and ownership;
        With our service providers that perform services for us (such as e-mail and mobile marketing, analytics, and web hosting);
        With our sponsors or event partners in connection with certain ticketed events;
        To comply with a court order or other legal obligation, to enforce the Site terms of use, and to protect the rights, property,
         or safety of our users and other third parties;
        With government or law enforcement officials or private parties (including our legal or other professional advisors) as we determine, 
        in our sole and absolute discretion, is necessary or appropriate to respond to claims or to comply with legal processes, laws, regulations, 
        or ordinances, or to prevent or stop illegal, unethical, or actionable activity;
        In connection with, or during negotiations of, any merger, acquisition by another company, or sale of all or substantially all of our business or assets; and
        With your consent or at your direction.
        5. Transfer of Collected Data
        The Site is operated in the United States. If you are located in another jurisdiction, please be aware that the data we collect will be transferred to, 
        stored, and processed in the United States. By using the Site and/or providing us with any data, you consent to this transfer, processing, and storage 
        of your data in the United States, a jurisdiction in which the privacy laws may not be as comprehensive as those in the country where you reside or are 
        a citizen such as the European Union. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this 
        Privacy Notice. We will take all steps reasonably necessary to ensure that your data is subject to appropriate safeguards and ensure that your data is treated 
        securely and in accordance with this Privacy Policy.
        
        <h2>6. Data Security</h2>
        We use commercially reasonable technical and organizational measures to help secure and safeguard your data in our possession. However, no data 
        transmission over the Internet is completely secure and no security mechanism is impenetrable. Therefore, although we take steps to protect your data,
         we cannot guarantee the security of the data that we collect from you or the security of our servers or the Site. By accessing the Site, any transmission 
         of data is at your own risk and you agree to assume all risk in connection with data sent to us or collected by us.
        
        <h2>7. Data Retention</h2>
        We retain data only as long as necessary in light of the purpose(s) for which it was originally collected. Please note that we may retain your data for
         longer periods of time as necessary to comply with our legal obligations or respond to governmental authorities.
        
        <h2>8. Children and Parents</h2>
        We respect children’s privacy. We do not target or knowingly or intentionally collect personal data from children under the age of 13. By using the Site,
         you have represented and warranted that you are either at least 18 years of age or using the Site with the supervision of a parent or guardian. If you are 
         under the age of 13, you may not use the Site. If you become aware that your child has provided us with personal data without your consent, please Contact Us.
        
        <h2>9. Our “Do Not Track” (DNT) Policy</h2>
        Some websites have “do not track” features that allow you to tell a website not to track you. We do not currently respond to those signals or any similar
         mechanisms transmitted by web browsers. To learn more about DNT and tracking signals, please visit <a href="https://allaboutdnt.com/">All About DNT.</a>
        
        <h2>10. Your Data Preferences</h2>
        Use of Collected Data
        
        If you no longer want us to use your collected data as described above, please submit a request by completing an email or mail-in request at the address listed below.
        
        Communications
        
        If you no longer wish to receive communications from VaynerX, please follow the instructions in the emails to opt-out from receiving such messages 
        in the future or submit a request by completing an email request or mail-in request at the address listed below.
        
        Cookies, Pixel Tags, and Other Similar Tracking Technologies
        
        You may remove or reject cookies by adjusting settings on your browser, and thus opt-out of certain features of the Site and the Site’s automatic 
        collection of certain data. These tracking technology opt-out tools are device and browser specific so you must repeat the opt-out from each of your 
        devices and browsers. Please note that removing or rejecting cookies could affect the functionality of the Site.
        
        You may also remove certain tracking technologies and opt-out of online behavioral advertising messaging by using the opt-out tools available from the 
        Digital Advertising Alliance <a href="https://youradchoices.ca/en/tools">(DAA Opt-Out Tool) </a>and the Network Advertising Initiative <a href="https://optout.networkadvertising.org/?c=1#!%2F"></a>(NAI Opt-Out Tools).</a>
        
        Advertising Preferences
        
        You may adjust your advertising preferences on various social media websites by adjusting your Settings on the particular platform. For example, you may
         adjust the types of Facebook ads you receive on <a href="https://accountscenter.facebook.com/ad_preferences">Facebook </a> and the types of Google ads you receive on <a href="https://myadcenter.google.com/?sasb=true&ref=ad-settings">Google.</a>
        
        <h2>11. California Privacy Policy</h2>
        If you are a resident of California, please review our California Privacy Policy for additional disclosures required by California law.
        
        <h2>12. EU Privacy Policy</h2>
        If you are a resident of the European Union, please review our EU Privacy Policy for additional information about your rights.
        
        <h2>13. Contact Us</h2>
        To submit a request relating to Your Data Preferences, please email or send a message to the address listed below. Please note that requests submitted through the form are processed more quickly than requests submitted by email or mail.
        
        If you have any questions about this Privacy Policy, please email us at dpiro@floridafuturists.com or write to us at one of the following addresses:</p>

        <br>
        <p>
        
          18812 Matanzas Road <br>
          Fort Myers, Florida  <br>
          33967  
        

        </p>
  

    </section>


  <!-- ======= Footer ======= -->
  <div class = "headeralert">
    <p><a href="https://floridafuturists.us21.list-manage.com/subscribe/post?u=1efb156f7baa9586d1f4ed103&amp;id=44148de2d9&amp;f_id=00a9d5e6f0"> Sign Up For Our Newsletter By Clicking Here.   </a></a></p>
    
  </div>
<footer id="footer">
 
  <div class="container">
    <h3>Florida Futurists</h3>
    <p> </p>
    <div class="social-links">
      <a href="https://twitter.com/FLFuturists" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="facebook.com/FloridaFuturists" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.youtube.com/@FLFuturists" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.youtube.com/@FLFuturists" class="google-plus"><i class="bx bxl-youtube"></i></a>
      <a href="https://www.linkedin.com/company/florida-futurists/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; <a href="../static/views/copyright.html">Copyright </a><strong><span>Florida Futurists Corp.</span></strong> All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
      <a href="../static/views/policy.html">Privacy Policy</a>. <a href="../static/views/terms.html">Terms of Service</a>. Site Map. 

      <a href="../static/views/capolicy.html">CA Terms</a>. <a href="../static/views/eupolicy.html">EU Policy  </a>
    </div>
  </div>
</footer><!-- End Footer -->
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../vendor/glightbox/js/glightbox.min.js"></script>
<script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../vendor/swiper/swiper-bundle.min.js"></script>
<script src="../vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../js/main.js"></script>
s
</body>

</html>
