<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Florida Futurists | Startup </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>

   <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class = "headeralert">
<p>Contact Us Now - Email Us: <a href="mailto:info@floridafuturists.com">info@floridafuturists.com </a>| Phone: (614) 733-9674    </p>      </div>
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="https://floridafuturists.com/index.html"> Florida Futurists</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
<!--1 Menu Item-->
              <li><a class="nav-link scrollto active" href="https://floridafuturists.com/views/coming.html"> News </a></li>
<!--2 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/about.html"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                <li><a href="https://floridafuturists.com/views/about.html"> About Us </a></li>
                <li><a href="https://floridafuturists.com/views/about.html"> Become A Futurists </a></li>
              </ul>
<!--3 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/Business.html"><span>Business Directory</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li class="dropdown"><a href="https://floridafuturists.com/views/dir_region.html"><span>Explore Directory By Region</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Northwest Florida</a></li>
                        <li><a href="#">North Central Florida</a></li>
                        <li><a href="#">Northeast Florida</a></li>
                        <li><a href="#">Centralwest Florida</a></li>
                        <li><a href="#">Central Florida</a></li>
                        <li><a href="#">Centraleast Florida</a></li>
                        <li><a href="#">Southwest Florida</a></li>
                        <li><a href="#">Southeast Florida</a></li>
                        <li><a href="#">Florida Keys</a></li>
                      </ul>
                    </li>          
                  </ul>
                </li>
<!--4 Menu Item-->
                <li class="dropdown"><a href="https://floridafuturists.com/views/partners.html"><span> Our Partners</span> </a>
                </li>
<!--5 Menu Item-->
              <li class="dropdown"><a href="https://floridafuturists.com/views/saturn.html"><span>Project Saturn</span> </a>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
<!-- .navbar -->
  <button type="button" class="hbutton" data-toggle="modal" data-target="#myModal">Join Now</button>

        </div>
      </div>

    </div>
    



  </header><!-- End Header -->
 
  <!-- Hero 2-->
  <section id="saturn" class="d-flex flex-column justify-content-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Become A Partner Now.</h1>
    <div class="col-lg-6 mx-auto">
      <p></p>
      <p class="lead mb-4"></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

    </div>

    </section>


    <section id="pricing">
      <!-- R-->

  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-bold text-body-emphasis">TimeLine</h1>
    

<!-- Section: Timeline -->

<section class="py-5">
  <ul class="timeline">
    <li class="timeline-item mb-5">
      <h5 class="fw-bold">Use Your Head And Build The Helmet</h5>
      <p class="text-muted mb-2 fw-bold">2023</p>
      <p class="text-muted">
      To be announced.
      </p>
    </li>

    <li class="timeline-item mb-5">
      <h5 class="fw-bold">Learning To Regrow  </h5>
      <p class="text-muted mb-2 fw-bold">2024</p>
      <p class="text-muted">
        To be announced.
      </p>
    </li>

    <li class="timeline-item mb-5">
      <h5 class="fw-bold">Develop Plans for A Space Colony </h5>
      <p class="text-muted mb-2 fw-bold">2025</p>
      <p class="text-muted">
        To be announced. 

      </p>
    </li>

    <li class="timeline-item mb-5">
      <h5 class="fw-bold">Develop Giant Robots with Big Guns</h5>
      <p class="text-muted mb-2 fw-bold">2026</p>
      <p class="text-muted">
        To be announced.

      </p>
    </li>
  </ul>
</div>
</section>
<!-- Section: Timeline -->

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <button type="button" class="btn btn-outline-dark btn-lg px-4">Become a Partner Now</button>
</div>

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>What Is The Saturn Project</h2>
          <p>Thirsty? Check Back Later For Updates</p>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Smart Helmet </h4>
                  <p>T</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Smart Space ExoSuit </h4>
                  <p>I</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>Indoor Small and Large Agriculture</h4>
                  <p>T</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>Autonomous Robotech Drone Transportation</h4>
                  <p>A</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-atom"></i>
                  <h4>Pegasus Colony ARC Defense Vessel(s)</h4>
                  <p>N</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="bx bx-id-card"></i>
                  <h4>Advanced Construction Tools, Technology, and Weaponry  </h4>
                  <p>A.E.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../img/logo.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End App Features Section -->

 </section>


  <footer id="footer">
   
    <div class="container">
      <h3>Florida Futurists</h3>
      <p> </p>
      <div class="social-links">
        <a href="https://twitter.com/FLFuturists" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="facebook.com/FloridaFuturists" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.youtube.com/@FLFuturists" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.youtube.com/@FLFuturists" class="google-plus"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.linkedin.com/company/florida-futurists/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; <a href="https://floridafuturists.com/views/copyright.html">Copyright </a><strong><span>Florida Futurists Corp.</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        <a href="https://floridafuturists.com/views/policy.html">Privacy Policy</a>. <a href="https://floridafuturists.com/views/terms.html">Terms of Service</a>. Site Map. 

        <a href="https://floridafuturists.com/views/capolicy.html">CA Terms</a>. <a href="https://floridafuturists.com/views/eupolicy.html">EU Policy  </a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://floridafuturists.com/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="https://floridafuturists.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://floridafuturists.com/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://floridafuturists.com/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://floridafuturists.com/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>

</html>
